body{
    color: #333;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}
#continer{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: auto;
    overflow: hidden;
}
#post{
    background-color: #f9f9f9;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#cabecera{
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    text-align: center;
    font-size: 10px;
    margin-bottom: 0;
    font-weight: bold;
}
#logo{
    width: 50px;
    height: auto;
    vertical-align: middle;
    margin-right: 10px;
}#logo:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

